<div class="container">
    <div class="input-group mb-3">
        <input style="width: 600px;" type="text" class="form-control" placeholder="Keresés" aria-label="Kereses"
            aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2"><mat-icon>search</mat-icon></span>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let noveny of novenyek">
            <div class="col-md-3">
                <mat-card class="example-card card" style="height: 1050px; margin-bottom: 20px;">
                    <img mat-card-image [src]="noveny.kepUrl" alt="noveny">
                    <mat-card-content style="margin-top: 20px;">
                        <p style="font-weight: 800;">{{noveny.megnevezes}}</p>
                        <p>{{noveny.leiras}}</p>

                    </mat-card-content>
                    <div class="card-footer mt-auto" style="height: 100px;">
                        <p  style="margin-left: 20px;">{{noveny.ar}} Ft</p>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Db</span>
                            <input #db type="number" value="1" class="form-control" placeholder="Darabszám"
                                aria-label="darab" aria-describedby="basic-addon1">
                            <button mat-button color="warn" (click)="addTermek(noveny.key, db.value, noveny.ar)">Megrendelés</button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </ng-container>
    </div>
</div>