<div class="container">
    <div class="card">
        <h3><strong>Rendelés véglegesítése</strong></h3>
        <div class="row ">
            <div class="col-12 mb-3">
                <mat-form-field style="width:95%; margin-left: 2%;" appearance="outline">
                    <mat-label>Teljes név:</mat-label>
                    <input [(ngModel)]="megrendeles.nev" matInput placeholder="Név">
                </mat-form-field>
            </div>
            <div class="col-12 mb-3">
                <mat-form-field style="width:95%; margin-left: 2%;" appearance="outline">
                    <mat-label>Pontos cím: </mat-label>
                    <input [(ngModel)]="megrendeles.cim" matInput placeholder="Cím">
                </mat-form-field>
            </div>
        </div>

        <ng-container >
            <div class="container" *ngFor="let termek of termekek">
                <div class="row">
                    <div class="col">{{keresNev(termek.novenyKey)}}</div>
                    <div class="col" style="border: 1px solid gray; border-radius: 5px; margin:5px;">{{termek.db}}</div>
                    <div class="col">{{termek.ar}}</div>
                    <div class="col"><button (click)="torol(termek)">Törlés</button></div>
                </div>
            </div>
        </ng-container>
        <p style="font-weight: 800;">Összesen: {{grandTotal}} Ft</p>
        <div class="container">
            <button mat-raised-button color="primary" style="width: 120px; margin:10px;" (click)="ment()">Megrendel</button>
        <button mat-raised-button color="warn" style="width: 120px; margin:10px;" (click)="deleteKosar()">Kosár törlése</button>
        </div>
        
    </div>

